.film-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  padding: 0px;
  width: 60%;
  text-align: center;
}

.film-item {
  background-color: oldlace;
  padding: 10px;
  margin: 2px;
  border: 1px solid black;
}

button {
  width: 60%;
  box-sizing: border-box;
  border: 0px;
  cursor: pointer;
  height: 3em;
  padding: 10px;
  background-color: grey;
  font-size: 1.2em
}

button:hover {
  background-color: mediumvioletred;
}